"*":
  "exception-reporting":
    userId: "20d3e965-f06d-5d0b-3edf-176b6346d285"
  welcome:
    showOnStartup: false
  core:
    themes: [
      "atom-material-ui"
      "afterglow-monokai-syntax"
    ]
    disabledPackages: [
      "atom-transpose"
      "language-sass"
    ]
    destroyEmptyPanes: false
  editor:
    invisibles: {}
    fontFamily: "menlo"
    showInvisibles: true
    zoomFontWhenCtrlScrolling: true
    lineHeight: 1.4
    fontSize: 12
  "file-icons": {}
  "highlight-line": {}
  minimap: {}
