"face-web":
  title: "face-web"
  paths: [
    "/Users/bwong/code/face-web"
    "/Users/bwong/code/face-engine"
  ]
"rails-site":
  title: "rails-site"
  paths: [
    "/Users/bwong/code/rails-site"
  ]
"Ember Studies":
  title: "Ember Studies"
  paths: [
    "/Users/bwong/projects/borrowers"
    "/Users/bwong/projects/bumbox"
  ]
leadzonian:
  title: "leadzonian"
  paths: [
    "/Users/bwong/code/leadzonian/leadzonian-api"
    "/Users/bwong/code/leadzonian/leadzonian-web"
  ]
"modern-utensils":
  title: "modern-utensils"
  paths: [
    "/Users/bwong/projects/modern-utensils-s3-v2"
  ]
junglescout:
  title: "junglescout"
  paths: [
    "/Users/bwong/Dropbox (Personal)/ASM/junglescout"
  ]
grandprix:
  title: "grandprix"
  paths: [
    "/Users/bwong/code/grandprix"
  ]
home:
  title: "home"
  paths: [
    "/Users/bwong/code/home"
  ]
nanohabits:
  title: "nanohabits"
  paths: [
    "/Users/bwong/code/nanohabits"
  ]
exercism:
  title: "exercism"
  paths: [
    "/Users/bwong/exercism"
  ]
